body {
    background-color: white;
}

#wider-wong {
    width: 80%;
    display: block;
    margin: auto;
}

#nigiri-box {
    margin-top: 2%;
}

.nigiri {
    margin: 0 auto;
    width: 80%;
}

.row {
    margin: 0 auto;
    width: 80%;
}

.container {
    margin: 0 auto;
}


.center {
    text-align: center;
}

li {
    color: #000000;
    font-size: .8em;
}

#rules {
    background-color: #dd1919;
}

.green-text {
    color: green;
    font-size: 2em;
}

.red-text {
    color: red;
    font-size: 2em;
}

#page-title {
    font-family: 'Trade Winds', cursive;
}

#sub {
    font-family: 'Fredericka the Great', cursive;
    color: yellow;
}

#calories-allowed {
    font-family: 'Fredericka the Great', cursive;
    color:  red;
    font-size: 1.5em;
}

#calories-eaten {
    font-family: 'Fredericka the Great', cursive;
    color: blue;
    font-size: 1.5em;
}



.card-body {
    align-items: center;
    padding: 1rem;
}